*,
::after,
::before {
  box-sizing: border-box;
}

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&subset=cyrillic');

:root {

  /* colors */

  --primary-50: #0095F6;
  --primary-100: #1a73e8;
  --primary-200: #75c8ff;
  /* other colros */
  ---black: #222;
  --red: #d93025;
  --green-dark: #0f5132;
  --white: #fff;
  --text-color: #202124;
  --border-color: #eaf1fb;

  /* fonts */

  --bodyFont: 'Cabin', Sans-Serif;

  --small-font-size: 1rem;
  --smaller-font-size: .8rem;
  --thick-font: 400;
  --thicker-font: 600;

  --borderRadius: .3rem;
  
}

body {
  margin: 0;
  font-family: var(--bodyFont);
  color: var(--text-color);
  line-height: 1.75;
  font-weight: var(--thick-font);
}

h1, h2, h3, p, img {
  margin: 0;
  padding: 0;
}

.bd-grid {
  column-gap: 1rem;
}
.logo {
  width: 70px;
  height: auto;
  margin-bottom: .3rem;
}

.alert {
  font-size: .8rem;
  padding: .5rem;
}

.alert-danger {
  color: var(--red);
}

.alert-success {
  color: var(--green-dark);
}

/* ======= Landing Page Section =======*/

.bd-container {
  max-width: 550px;
  width: calc(100% - 2rem);
  margin-top: 5rem;
  padding: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: .5rem;
  border: 1px solid var(--border-color);
  brder: 3px solid yellow;
} 

.register-head {
  margin-bottom: 1.5rem;
}
.register-title {
  font-size: 1.5rem;
  font-weight: var(--thick-font);
}

.rc-title {
  font-size: 1rem;
  font-weight: var(--thicker-font);
}

.signup-content {
  margin: 0;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.submit-btn {
  background-color: var(--primary-100);
  color: var(--white);
  padding: .75rem 1.5rem;
  border: none;
  font-size: .9rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--borderRadius);
}

.submit-btn:disabled {
  background-color: var(--primary-200);
}

/* ====== Register Section ==== */

.rh-title {
  margin-bottom: 1.5rem;
  font-weight: var(--thick-font);
}


.signin-btn {
  background: none;
  color: var(--primary-100);
  border: none;
  font-size: .9rem;
  cursor: pointer;
}


.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

/* ===== Form Row Section ===== */

.form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: var(--borderRadius);
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
}

.form-label {
  position: absolute;
  left: 1rem;
  top: .5rem;
  padding: 0 .25rem;
  background-color: var(--white);
  color: #80868b;
  font-size: 1rem;
  transition: .3s;
}

.form-input:focus + .form-label {
  top: -0.5rem;
  left: 0.8rem;
  z-index: 10;
  color: var(--primary-100);
  transition: 0.3s;
  font-size: .75rem;
}


.form-input:focus {
  border: 1px solid var(--primary-50);
}
.form-row {
  position: relative;
  height: 43px;
  margin-bottom: 2rem;
  width: 100%;
}


.form-flex {
  display: grid;
  width: 100%
}

.flex-input {
  margin-right: 11rem;
}

/* ====== FormRow Select =======*/
.select-row {
  position: relative;
  height: 30px;
  margin-bottom: 2rem;
  width: 100%;
}

select {
  font-size: .8rem;
  padding: .75rem 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: .5rem;
  order: 2px solid ;
  width: 100%;

}

select:focus + .select-label {
  color: var(--primary-100);
}

select:focus {
  border: 1px solid var(--primary-100);
}

.select-label {
  position: absolute;
  left: 1rem;
  top: -.6rem;
  padding: 0 .25rem;
  background-color: var(--white);
  
  font-size: .8rem;
  transition: .3s;
}



.select-flex {
  display: flex;
  justify-content: space-between;
}



@media screen and (min-width: 768px) {

  body {
    margin: 0;
  }

  .bd-container {
    padding: 4rem 3rem;
  }

  .bd-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ======== Register Section ====*/
  .register-title {
    font-size: 2rem;
  }

  .rc-title {
    font-weight: var(--thicker-font);
  }
  
}

button:disabled {
  cursor: not-allowed;
}

@media screen and (min-width: 500px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
}

