*,
::after,
::before {
  box-sizing: border-box;
}

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&subset=cyrillic');

:root {

  /* colors */

  --primary-50: #0095F6;
  --primary-100: #1a73e8;
  --primary-200: #75c8ff;
  --primary-250: #f6f8fc;
  --primary-300: #c2e7ff;
  --primary-350: #d3e3fd;
  --primary-400: #041e49;
  --primary-500: #f9dedc;
  --primary-550: #43100d;
  --primary-600: #c4eed0;
  --primary-650: #11311b;
  --primary-700: #fff0d1;
  --primary-750: #1f1f1f;
  

  /* other colros */
  ---black: #222;
  --red: #d93025;
  --red-light: #fce8e7;
  --green-dark: #0f5132;
  --white: #fff;
  --text-color: #3f4244;
  --border-color: #eaf1fb;

  /* fonts */

  --bodyFont: 'Cabin', Sans-Serif;

  --small-font-size: 1rem;
  --smaller-font-size: .8rem;
  --thick-font: 400;
  --thicker-font: 600;

  --borderRadius: .3rem;
  --transition: .3 ease-in-out all;
  
}

body {
  margin: 0;
  font-family: var(--bodyFont);
  color: var(--text-color);
  line-height: 1.75;
  font-weight: var(--thick-font);
}

h1, h2, h3, h4, p, img {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bd-grid {
  column-gap: 1rem;
}
.google-logo{
  width: 70px;
  height: auto;
  margin-bottom: .3rem;
}

.alert {
  font-size: .8rem;
  padding: .5rem;
}

.alert-danger {
  color: var(--red);
}

.alert-success {
  color: var(--green-dark);
}

/* ======= Landing Page Section =======*/

.bd-container {
  max-width: 550px;
  width: calc(100% - 2rem);
  margin-top: 5rem;
  padding: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: .5rem;
  border: 1px solid var(--border-color);
} 

.register-head {
  margin-bottom: 1.5rem;
}
.register-title {
  font-size: 1.5rem;
  font-weight: var(--thick-font);
}

.rc-title {
  font-size: 1rem;
  font-weight: var(--thicker-font);
}

.signup-content {
  margin: 0;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.submit-btn {
  background-color: var(--primary-100);
  color: var(--white);
  padding: .75rem 1.5rem;
  border: none;
  font-size: .9rem;
  text-decoration: none;
  border-radius: var(--borderRadius);
}

.submit-btn:disabled {
  background-color: var(--primary-200);
}

/* ====== Register Section ==== */

.rh-title {
  margin-bottom: 1.5rem;
  font-weight: var(--thick-font);
}


.signin-btn {
  background: none;
  color: var(--primary-100);
  border: none;
  font-size: .9rem;
}


.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

/* ===== Form Row Section ===== */

.form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: var(--borderRadius);
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
}

.form-label {
  position: absolute;
  left: 1rem;
  top: .5rem;
  padding: 0 .25rem;
  background-color: var(--white);
  color: #80868b;
  font-size: 1rem;
  transition: .3s;
}

.form-input:focus + .form-label {
  top: -0.5rem;
  left: 0.8rem;
  z-index: 10;
  color: var(--primary-100);
  transition: 0.3s;
  font-size: .75rem;
}


.form-input:focus {
  border: 1px solid var(--primary-50);
}
.form-row {
  position: relative;
  height: 43px;
  margin-bottom: 2rem;
  width: 100%;
}


.form-flex {
  display: grid;
  width: 100%
}

.flex-input {
  margin-right: 11rem;
}

/* ====== FormRow Select =======*/
.select-row {
  position: relative;
  height: 30px;
  margin-bottom: 2rem;
  width: 100%;
}

select {
  font-size: .8rem;
  padding: .75rem 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: .5rem;
  order: 2px solid ;
  width: 100%;

}

select:focus + .select-label {
  color: var(--primary-100);
}

select:focus {
  border: 1px solid var(--primary-100);
}

.select-label {
  position: absolute;
  left: 1rem;
  top: -.6rem;
  padding: 0 .25rem;
  background-color: var(--white);
  
  font-size: .8rem;
  transition: .3s;
}

.select-flex {
  display: flex;
  justify-content: space-between;
}



/* ===== Navbar ==== */

.homepage-container {
  
  background-color: var(--primary-250);
}

nav {
  height: 50px;
}

.navbar-container {
 max-width: 1350px;
 width: calc(100% - 2rem);
 margin-left: 1rem;
 margin-right: 1rem;
 margin-bottom: .5rem;

}

.nav-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-tog-btn {
  font-size: 1.2rem;
}

.lnh-flex {
  display: flex;
  align-items: center;
}

.gmail-logo {
  width: 25px;
  display: block;
  margin-left: .75rem;
}

.lnh-text {
  font-size: 1.2rem;
  margin-left: .75rem;
  color: var(--text-color);
  font-weight: var(--thick-font);
}

.nav-search {
  border: none;
  border-radius: .75rem;
  max-width: 500px;
  width: 100%;
  padding: .75rem 1.5rem;
  outline: none;
  font-size: 1rem;
  margin-top: .3rem;
  visibility: hidden;
  background-color: var(--border-color);
}

.rnh-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rnh-btn {
  margin-right: 1rem;
  font-size: 1.4rem;
}

.rnh-name {
  background-color: #cc603f;
  color: var(--white);
  width: 35px;
  font-size: 1.5rem;
  font-weight: var(--thick-font);
  height: 35px;
  border-radius: 100%;
}


/* ======= === Sidebar ========  */

.sidebar-container {
  position: fixed;
  z-index: 1;
  top: 3rem;
  height: 100vh;
  width: 260px;
  left: -100%;
  background-color: var(--primary-250);
  padding: .75rem 1rem;
  box-shadow: 3px 0 0px -2px rgba(173, 173, 173, 0.5);
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  transition: all .5s;
}

.show-sidebar {
  left: 0;
}

.aside-content {
  position: absolute;
  left: 0;
  width: 95%;
  margin: 0;
  padding: 0;
}

.comp-cont {
  display: flex;
  padding: .75rem 0;
  background: var(--primary-300);
  width: 130px;
  margin-top: -2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  justify-content: center;
}

.chats-btm {
  position: absolute;
  visibility: hidden;
}

.sidebar-head {
  visibility: hidden;
}

.ecb-name {
  font-size: .8rem;
  font-weight: var(--thicker-font);
  margin-left: 1rem;
}
.comp-btn {
  font-size: 1.5rem;
  border: none;
}

.each-nmbtn {
  background: none;
  border: none;
  
}
.nav-btn {
  
  font-size: 1.2rem;
}
.inbox-bar {
  display: flex;
  align-items: center;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: .2rem .75rem;
  margin-bottom: .5rem;
}
.inbox-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.inbox-bar-active {
  background-color: var(--primary-350);
}
.each-bar {
  border-radius: 1rem;
  padding: .3rem .75rem;
  display: flex;
  margin-bottom: .5rem;
}

.each-name {
  font-size: .75rem;
  margin-left: 1.2rem;
}

/*======= Inboxes ========= */
.inbox-container {
  background-color: white;
  border-radius: .75rem;
  max-width: 1250px;
  width: calc(100% - 1rem);
  margin-left: 1rem;
  margin-right: 1rem;
  
  height: 90vh;
  
}

.ei-head-flex {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.ei-flex {
  position: relative;
  display: flex;
  margin-right: 2rem;
}

.ei-flex::after {
  position: absolute;
  content: "";
  top: 2.4rem;
  height: .18rem;
  width: 100%;
  background-color: var(--primary-100);
  left: 0;
  border-top-right-radius: var(--borderRadius);
}


.ei-btn {
  color: var(--primary-100);
  font-size: 1.2rem;
  margin-right: 1rem;
}

.ei-name {
  font-size: .9rem;
}

.inbox-modal {
  margin: 1rem .75rem;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
  padding: 1rem 1.5rem;
  visibility: visible;
}

.inb-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.inb-btn {
  font-size: 1.2rem;
}

.inb-name {
  font-size: 1rem;
  font-weight: var(--thicker-font);
}



.gs-content {
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.gs-flex {
  display: flex;
}

.gs-btn {
  font-size: 1.5rem;
}

.each-gsbtn {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-right: 1.5rem;
  
}

.set-btn {
  color: var(--primary-400);
  background-color: var(--primary-350);
}

.user-btn {
  color: var(--primary-550);
  background-color: var(--primary-500);
  
}

.add-btn {
  color: var(--primary-650);
  background-color: var(--primary-600);
}

.phone-btn {
  color: var(--primary-750);
  background-color: var(--primary-700);
}


/* ========Chats ======= */

.chats-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-250);
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  padding: .3rem 1rem;
}

.rsc-flex {
  display: flex;
}

.rsc-check {
  position: absolute;
}

.rsc-star {
  color: var(--border-color);
  font-size: 1rem;
  margin-left: .5rem;
}

.rsc-name {
  font-size: .75rem;
  margin-left: .3rem;
  color: var(--text-color);
}

.rsc-msg {
  margin: 0 1.5rem;
  
}

.rsm-flex {
  display: flex;
}

.rsc-letter {
  position: absolute;
  visibility: hidden;
}




/* ===== Send Input ====*/
.send-section {
  visibility: hidden;
}

.send-container {
  position: absolute;
  bottom: 0;
  right: 1.5rem;
  background-color: var(--white);
  width: 450px;
  height: 500px;
  border: 1px solid var(--border-color);
  border-radius: .5rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  visibility: hidden;
}

.show-modal {
  visibility: visible;
}

.sc-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .3rem .5rem;
  background-color: var(--primary-250);
}

.sc-name, .sc-to, .sub-input {
  font-size: .7rem;
}

.sc-btn {
  font-size: .55rem;
  margin-left: .5rem;
}

.scto-input {
  display: flex;
  align-items: center;
  margin: 0 .75rem;
  padding: .2rem .5rem;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: .5rem;
}
.sc-to {
  margin-top: .1rem;
  margin-right: .5rem;
  font-weight: var(--thick-font);
}

.sc-input, .sub-input {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

.sub-input {
  padding: .2rem .5rem;
  margin: 0 .75rem;
  width: 94%;
  border-bottom: 1px solid var(--border-color);
}

.sc-textarea {
  width: 100%;
  height: 46vh;
  padding: .5rem 1.2rem;
  border: none;
  outline: none;
  resize: none;
}

.sbtn-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem;
  overflow-y: scroll;
}

.send-btn {
  font-size: .7rem;
  font-weight: var(--thicker-font);
  border-radius: 1rem;
  padding: .5rem 1.5rem;
  color: var(--white);
  background-color: var(--primary-100);
}


/* ========= Create Message ====== */

.sm-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--white);
}


.sm-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
}

.sml-flex, .smr-flex {
  display: flex;
  align-items: center;
}

.smh-name {
  font-size: 1.2rem;
  font-weight: var(--thick-font);
}

.sml-btn {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.sm-btn {
  font-size: 1.2rem;
  margin-left: 1rem;
  color: black;
}


.sm-input-flex {
  display: flex;
  width: 100%;
  padding: 0 .75rem;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.sm-label {
  font-size: .85rem;
  margin-right: .5rem;
}

.sm-input {
  width: 100%;
  border: none;
  outline: none;
  
}

.sm-textarea {
  outline: none;
  resize: none;
  border: none;
  width: 100%;
  font-size: 1rem;
  height: 70vh;
  padding: 0 .75rem;
}


/* ====== Messages Container =======*/


.msgs-container {
  background-color: white;
  max-width: 1250px;
  width: calc(100% - 1rem);
  height: 70vh;
  margin-left: 1rem;
  margin-right: 1rem;
  top: 3.7rem;
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}

.msgs-head {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  justify-content: space-between;
}
.msgsi-btn {
  font-size: 1rem;
}
.msgs-btn, .msgcbtn {
  margin-left: 1.2rem;
  font-size: 1rem;
}

.msgs-title-flex {
  display: flex;
  align-items: center;
  margin: 0 2.5rem;
}

.msgs-title {
  font-size: 1.3rem;
  font-weight: var(--thick-font);
  margin-right: 1rem;
}

.msgt-btn {
  background-color: #d3d3d3;
  padding: .2rem;
  font-size: .6rem;
}

.msgs-content {
  width: 100%;
  padding: 1rem;
}

.msgc-head {
  display: flex;
  align-items: center;
  width: 100%;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

.msgc-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: .1rem;
  font-size: 1.4rem;
  color: var(--white);
  font-weight: var(--thick-font);
  text-align: center;
  background-color: var(--primary-600);
}

.msgc-grid {
  display: grid;
  width: 100%;
}

.msgc-name-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.msgc-name {
  font-size: .8rem;
}

.msgc-text, .msgc-time {
  font-size: .75rem;
}

.msg-name-grid {
  display: grid;
}

.gmail-name {
  margin-left: .2rem;
}

.msgc-btn-container, .msgc-time-btn, .msgs-btn-container, .rf-btn-cont  {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  
}

.rf-btn-cont {
 border: 1px solid var(--border-color);
 padding: .3rem 1.5rem;
 border-radius: 1.5rem; 
 margin-right: 1rem;
 margin-top: 2rem;

}

.rf-btn {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {

  body {
    margin: 0;
  }

  .bd-container {
    padding: 4rem 3rem;
  }

  .bd-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ======== Register Section ====*/
  .register-title {
    font-size: 2rem;
  }

  .rc-title {
    font-weight: var(--thicker-font);
  }
  
  .nav-search {
    visibility: visible;
  }

  .gs-content {
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr;
  }

  .ei-flex {
    display: flex;
    margin-right: 15rem;
  }

  .ei-flex::after {
    width: 200%;
  }

  /* ===== Send ====== */

  .send-section {
    visibility: hidden;
    background-color: blueviolet;
    right: 7rem;
  }
  
}



@media screen and (min-width: 500px) {
  .bd-container,
  .navbar-container,
  .inbox-container,
  .msgs-container {
    margin-left: auto;
    margin-right: auto;
  }
}




@media screen and (max-width: 600px) {
  .homepage-container {
    
    background-color: var(--white);
  }

  /* ====== Sidebar ===== */

  .sidebar-container {
    top: 0;
    width: 85%;
    background-color: var(--white);
  }


  .sidebar-title {
    font-weight: var(--thick-font);
    color: var(--red);
  }

  .sidebar-head {
    display: flex;
    justify-content: space-between;
    visibility: visible;
  }

  .comp-cont {
    visibility: hidden;
  }
  
  .chats-btm {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    text-decoration: none;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgb(3 74 40 / 15%);
    visibility: visible;
  }

  .cb-btn {
    color: var(--red);
    font-size: 1.3rem;
    margin-right: 1rem;
  }


  .cb-name {
    color: var(--red);
    font-weight: var(--thicker-font);
  }


  /* =====  Inbox ===== */
  .inbox-modal {
    visibility: hidden;
    position: absolute;
  }
 

  .ei-head-flex {
    border-bottom: none;
  }
  .inbox-bar-active {
    background-color: var(--red-light);
  }

  .ei-flex, .ei-btn {
    position: absolute;
    visibility: hidden;
  }

  .ei-flex::after {
    content: "";
    background-color: var(--white);
  }

  .eif-active {
    visibility: visible;
  }

  .ei-hover {
    color: var(--text-color);
  }

  .ei-name {
    font-size: .7rem;
    text-transform: uppercase
  }

  /* ==== Chats ===== */
  .chats-container {
    background: none;
    border: none;
    border-bottom: none;
    padding: .3rem 1rem;
    margin-bottom: 1rem;
  }
  
  .rsc-btns, .re{
    position: absolute;
    visibility: hidden;
    margin: 0;
  }

  .rsc-letter {
    position: fixed;
    width: 40px;
    height: 40px;
    padding-top: .3rem;
    font-size: 1.2rem;
    border-radius: 100%;
    text-align: center;
    font-weight: var(--thicker-font);
    color: var(--white);
    background-color: var(--primary-600);
    visibility: visible;
  }

  .rsc-name {
    margin-left: 2rem;
  }

  


  /*===== Navbar ==== */

  .navbar-container {
    margin-top: 0;
   
   }

   .nav-head {
     display: flex;
     align-items: center;
     border: 1px solid var(--border-color);
     border-radius: var(--borderRadius);
     background-color: var(--white);
     padding: .75rem;
   }

   .nav-tog-btn {
    margin-top: .3rem;
    margin-right: 2rem;
   }

  .gmail-btn, .lnh-text, .rnh-btn {
    position: absolute;
    visibility: hidden;
    margin: 0;
  }

  .rnh-name {
    margin-right: 2rem;
    width: 27px;
    font-size: 1rem;
    height: 27px;
  }

  .nav-search {
    padding: 0;
    font-size: 1rem;
    visibility: visible;
    background: none;
    
  }

  .rnh-flex, .rnh-btn {
    position: absolute;
    margin: 0;
    right: 0;
  }
}

